
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

dist/
build/
coverage/
*.tsbuildinfo


.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

.env
.env.local

.cache/
.vite/
vite.config.ts.timestamp-*
*.log

.sass-cache/
