body {
  font-family: $font-main;
  color: $text-color;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
