body {
  font-family: $font-main;
  color: $text-color-dark;
  margin: 0;
  padding: 0;
  background-color: #e1d4c9;
}

.container {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .highlight {
    color: $text-hover;
    font-style: italic;
  }
}

.header {
  width: 100%;
  margin: 20px 0px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    img {
      height: 60px;
      width: auto;
      display: block;
    }
  }

  .nav__list {
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;

    li a {
      text-decoration: none;
      font-size: 16px;
      color: $text-color-dark;
      font-weight: 500;
      transition: color 0.3s ease;

      &:hover {
        color: $text-hover;
      }
    }
  }

  .header__menu {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    color: $text-color-dark;
    border-bottom: 2px solid $border-dark;
    text-decoration: none;
    cursor: pointer;

    img {
      height: 22px;
      width: auto;
      padding-bottom: 5px;
    }
  }

  /* Burger button for mobile */
  .menu-btn {
    display: none;

    span {
      display: block;
      width: 25px;
      height: 3px;
      margin: 4px 0;
      background-color: #333;
      transition: all 0.3s ease;
    }
  }
}

.enjoy {
  width: 100%;
  margin-top: 20px;

  .container {
    position: relative;
    height: 644px;
    border-radius: 40px;
    overflow: hidden;
    padding: 0 40px;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 40px;
    right: 40px;
    width: calc(100% - 80px);
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    z-index: 0;
  }

  &__content {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 45%;
    text-align: left;
  }
  .enjoy__content {
    max-width: 530px;
    h1 {
      font-size: 72px;
      margin-bottom: 25px;
      color: $text-color-light;

      .highlight {
        color: $text-hover;
        font-style: italic;
      }
    }

    p {
      color: $text-color-light;
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 25px;
    }

    .btn {
      position: relative;
      width: 200px;
      padding: 20px;
      background-color: #e1d4c9;
      color: $text-color-dark;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      font-size: 16px;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        right: 30px;
        top: 50%;
        height: 22px;
        width: 22px;
        background-image: url('../assets/icons/coffee-cup.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0;
        transform: translateY(-50%) translateX(-10px);
        transition: all 0.3s ease;
      }

      &:hover {
        background-color: #e1d4c9;

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.favourites {
  text-align: center;
  margin: 100px auto;
  padding: 0 40px;

  h2 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 40px;
    color: $text-color-dark;
    .highlight {
      color: $text-hover;
      font-style: italic;
    }
  }

  .carousel {
    position: relative;
    overflow: hidden;

    &__track {
      display: flex;
      gap: 30px;
      transition: transform 0.5s ease;
    }

    &__slide {
      min-width: 100%;
      border-radius: 20px;

      img {
        width: 40%;
        height: 480px;
        object-fit: cover;
      }
    }

    &__arrow {
      position: absolute;
      top: 50%;
      background-color: inherit;
      border: 0.5px solid $text-color-dark;
      cursor: pointer;
      padding: 12px 15px;
      border-radius: 50%;
      transition: background-color 0.3s ease;
      z-index: 2;

      &--left {
        left: 3px;
      }

      &--right {
        right: 3px;
      }
    }
  }

  .carousel__progress {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;

    .carousel__progress-line {
      width: 40px;
      height: 4px;
      background-color: lighten($text-color-dark, 40%);
      border-radius: 4px;
      transition: background-color 0.3s ease;

      &.active {
        background-color: $text-color-dark;
      }
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-top: 20px;

    span {
      color: $text-color-dark;
      font-size: 24px;
      font-weight: 600;
    }
    p {
      max-width: 460px;
      margin: 0 auto;
      color: $text-color-dark;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.6;
    }
  }
}
.about {
  display: flex;
  flex-direction: column;
  text-align: center;

  h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 3rem;

    .highlight {
      color: $text-hover;
      font-style: italic;
    }
  }

  .about__images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .about__column {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    img {
      border-radius: 18px;
      object-fit: cover;
      transition: transform 0.4s ease;
      cursor: pointer;

      &:hover {
        transform: scale(0.9);
      }
    }

    .img-1 {
      width: 660px;
      height: 590px;
    }

    .about__images-small {
      display: flex;
      gap: 1.5rem;

      .img-4 {
        width: 660px;
        height: 430px;
      }
    }
    .img-2 {
      width: 660px;
      height: 430px;
    }

    .img-3 {
      width: 660px;
      height: 590px;
    }

    @media (max-width: 768px) {
      flex-direction: column;

      .about__column {
        align-items: center;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
.mobile-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 100px;

  .text-mobile {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      font-size: 60px;
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: 1.5rem;
      color: $text-color-dark;
    }

    p {
      font-size: 16px;
      color: $text-color-dark;
      font-weight: 400;
      line-height: 1.6;
    }

    .btn-mobile {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      flex-wrap: wrap;

      button {
        display: flex;
        align-items: center;
        gap: 12px;
        border: 1px solid $border-dark;
        color: $text-color-dark;
        width: 200px;
        height: 64px;
        background-color: inherit;
        border-radius: 100px;
        cursor: pointer;
        font-weight: 500;
        padding: 0 1.2rem;
        transition: all 0.3s ease;
        text-align: left;

        img {
          width: 28px;
          height: 28px;
          flex-shrink: 0;
        }

        .text {
          display: flex;
          flex-direction: column;
          line-height: 1.1;

          p {
            margin: 0;
            font-size: 12px;
            font-weight: 400;
            color: darken($text-color-dark, 10%);
          }

          span {
            font-size: 16px;
            font-weight: 600;
            color: $text-color-dark;
          }
        }

        &:hover {
          background-color: $border-dark;
          transform: scale(1.05);

          p,
          span {
            color: $text-color-light;
          }

          img {
            filter: brightness(0) saturate(100%) invert(92%) sepia(11%)
              saturate(372%) hue-rotate(338deg) brightness(98%) contrast(92%);
          }
        }
      }
    }
  }
  .img-mobile {
    width: 50%;
    img {
      max-width: 630px;
      height: auto;
      display: block;
    }
  }
}
.footer {
  margin-top: 100px;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    width: 100%;
    background-color: $border-dark;
    border-radius: 40px;
    margin-bottom: 40px;
  }
  .footer-content {
    h2 {
      font-size: 60px;
      font-weight: 600;
      color: $text-color-light;

      p {
        padding: 0;
        margin: 0;
      }
    }
    .footer-icons {
      display: flex;
      gap: 20px;
      a {
        text-decoration: none;
      }
    }
  }
  .contacts {
    width: 50%;

    h3 {
      font-size: 22px;
      font-weight: 500;
      color: $text-color-light;
      margin-bottom: 1rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 20px 0px;

      li {
        display: flex;
        align-items: center;
        gap: 10px;
        list-style: none;
        color: $text-color-light;
        font-size: 16px;
        line-height: 1.6;

        img {
          width: 20px;
          height: 20px;
          object-fit: contain;
          filter: brightness(0) saturate(100%) invert(92%) sepia(11%)
            saturate(372%) hue-rotate(338deg) brightness(98%) contrast(92%);
        }
        a {
          color: inherit;
          text-decoration: none;
          transition: color 0.3s ease, transform 0.2s ease;

          &:hover {
            color: $text-hover;
            transform: translateX(2px);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .enjoy {
    height: 400px;

    &__content {
      h1 {
        font-size: 2rem;
      }

      .btn {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .nav__list,
  .header__menu {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}
